body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: hwb(135 2% 56%);
    color: white;
    padding: 1em;
    text-align: center;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: hwb(135 2% 56%);
    color: white;
    text-align: center;
    padding: 1em 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.product-list, .post-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-list div, .post-list div {
    border: 1px solid hwb(135 7% 3%);
    padding: 10px;
    width: calc(33.333% - 20px);
}
.post-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.post {
    border: 1px solid hwb(135 7% 3%);
    padding: 10px;
    width: calc(25% - 20px); /* Ajusta el tamaño según sea necesario */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.post img {
    max-width: 100%;
    height: auto;
}
.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product {
    border: 1px solid hwb(135 7% 3%)c;
    padding: 10px;
    width: calc(25% - 20px); /* Ajusta el tamaño según sea necesario */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product img {
    max-width: 100%;
    height: auto;
}

.product button {
    background-color: hwb(135 7% 3%);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.product button:hover {
    background-color: hwb(135 7% 3%);
}
